<a href="https://colab.research.google.com/github/TiaErikaDev/ExerciciosPython/blob/main/08_Python_Aula_ao_vivo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
!pip install names
import names

In [ ]:
n = 200
nomesM = [names.get_full_name(gender = 'male') for i in range(int(n/2))]
nomesF = [names.get_full_name(gender = 'female') for i in range(int(n/2))]
f = np.random.uniform(0, 1, n)*100
freq = f.round()

nomes = nomesM + nomesF
sexo = ['M']*int(n/2) + ['F']*int(n/2)
p1 = np.random.uniform(0, 7, n)
p2 = np.random.uniform(3, 10, n)
p3 = np.random.uniform(1, 9, n)

dicionario = {'Nomes': nomes,
              'Sexo': sexo,
              'Frequência': freq,
              'p1': p1,
              'p2': p2,
              'p3': p3}

notas = pd.DataFrame(dicionario).round(1)

notas['MF'] = np.ceil(10*notas.mean(axis = 1))/10

def auxiliar(nota):
    if nota >= 6:
      saida = 'Aprovado'
    else:
      saida = 'Reprovado'
    return saida

notas['Situação'] = notas['MF'].apply(auxiliar)

def aux(notas):
  if notas > 40.0:
    saida = 'Média Frequência'
    if notas > 70.0:
      saida = 'Alta Frequência'
  else:
    saida = 'Baixa frequencia'
  return saida

notas['Sit'] = notas['Frequência'].apply(aux)

notas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

,Nomes,Sexo,Frequência,p1,p2,p3,MF,Situação,Sit
0,Stuart Carey,M,72.0,1.9,3.4,2.6,20.0,Aprovado,Alta Frequência
1,Freddie Gonzales,M,40.0,4.8,4.1,2.1,12.8,Aprovado,Baixa frequencia
2,Robert Jensen,M,64.0,3.8,7.0,8.6,20.9,Aprovado,Média Frequência
3,Cody Auerswald,M,20.0,3.0,6.0,5.3,8.6,Aprovado,Baixa frequencia
4,Gary Ashmen,M,22.0,6.6,9.8,8.8,11.8,Aprovado,Baixa frequencia
...,...,...,...,...,...,...,...,...,...
195,Nancy Cressey,F,94.0,5.2,4.7,1.9,26.5,Aprovado,Alta Frequência
196,Diane Mchugh,F,12.0,2.9,4.0,2.2,5.3,Reprovado,Baixa frequencia
197,Joan Gonzales,F,17.0,1.3,7.7,4.0,7.5,Aprovado,Baixa frequencia
198,Dorothy Scott,F,91.0,5.4,4.2,7.7,27.1,Aprovado,Alta Frequência
199,Elizabeth Jones,F,90.0,5.5,5.6,1.8,25.8,Aprovado,Alta Frequência